/* html {
  scroll-behavior: smooth;
  background-color: #ebe2db;
} */

h1 {
  color: #ec1c24;
  font-family: 'Roboto', sans-serif;
  font-size: .7em;
  padding-top: 30px;
  padding-left: 30px;
  margin: 0;
}

h2 {
  color: #ec1c24;
  font-family: 'Roboto', sans-serif;
  font-size: .7em;
  font-weight: 400;
  padding: 4px 20px 0px 30px;
  margin: 0;
}

ul.project {
  color: #ec1c24;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ec1c24;
  font-weight: 500;
  font-style: italic;
}

ul.bottom-nav {
  color: #ec1c24;
  font-size: .7em;
  font-weight: 700;
  line-height: 1.5em;
  padding: 0;
  padding-bottom: 30px;
      width: 80%;
}

.bottom-nav a:link {
  color: #ec1c24;
}

a:visited.bottom-nav {
  text-decoration: none;
  color: #ec1c24;
}

a.prev, a.next {
  color: #ec1c24;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

a:hover.bottom-nav, a:hover h1, a:hover h2, a:hover.prev, a:hover.next, p a:hover {
  color: #ffff00;
}