@font-face {
  font-family: 'gt_walsheim_promedium';
  src: url('../assets/fonts/gtwalsheimpro-medium-webfont.woff2') format('woff2'),
       url('../assets/fonts/gtwalsheimpro-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'gt_walsheim_probold';
  src: url('../assets/fonts/gtwalsheimpro-bold-webfont.woff2') format('woff2'),
       url('../assets/fonts/gtwalsheimpro-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gt_walsheim_proregular';
  src: url('../assets/fonts/gtwalsheimpro-regular-webfont.woff2') format('woff2'),
       url('../assets/fonts/gtwalsheimpro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html {
  /* scroll-behavior: smooth; */
  background-color: #000;
  height: 100%;

}

body {
    margin: 0 auto;
    height: 100%;
}

/* placeholde bg image for slideshow load */
.main {
  background-image: url("../assets/images/soft-08.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* height: 100%; */
}

/* image slideshow */

.img-container {
  height: 100%; 

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  position: relative;
}

.img-container img {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.img-container img.next {
  opacity: 1;
  z-index: 1;
}

.img-container img.prev {
  opacity: 1;
  z-index: 2;
}

.img-container img.fade-out {
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
  visibility: hidden;
}

#gradient {
  position: fixed;
  z-index: 3;
  top: 0px;
  right: 0px;
  -webkit-animation: fadein 2s ; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

/* main text and animation */

h1, h2, h3 {
  color: #fff;
  font-family: 'gt_walsheim_promedium', sans-serif;
  font-size: 1em;
  font-weight: 90;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 3px;

  -webkit-animation: fadein 2s ; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

.header {
  display: flex;
  justify-content: space-between;
  top: 15px;
  padding-bottom: 40px;
  position: fixed;
  width: 100%;

  z-index: 3;
}

#softcirque {
  position: fixed;
  width: 200px;
  height: 200px;
  /* Center vertically and horizontally */
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;

display: none;

  -webkit-animation: fadein 2s ; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;

  animation-name: spin;
  animation-duration: 15000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 

  z-index: 2;
}

.softcirque {
  position: fixed;
  width: 200px;
  height: 200px;
  /* Center vertically and horizontally */
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;


  -webkit-animation: fadein 2s ; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;

  animation-name: spin;
  animation-duration: 15000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 

  z-index: 3;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 50px;
  
  z-index: 3;
}

.contact h2 {
  color: #fff;
  font-family: 'gt_walsheim_promedium', sans-serif;
  font-size: 1em;
  font-weight: 90;
  margin: 0;
  padding-top: 0;
  padding-bottom: 20px;
}

.contact {
  display: flex;
  justify-content: space-between;
}

/* spin animation */

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

/* fadein animation */

@keyframes fadein {
  0% {
    /* transform: translateX(-10px); */
    opacity: 0;
  }
  100% {
    /* transform: translateX(0); */
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  /* from {  }
  to   {  } */
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* menu formatting */

p {
  /* width: 100%; */
  color: #b1b1b1;
  /* padding-left: 50px; */
  padding-right: 20px;
  line-height: 1.5em;
  font-family: 'gt_walsheim_proregular', sans-serif;
  font-size: .9em;
  font-weight: 0.1;
  margin: 0;
  
  padding-bottom: 30px;
  text-align: left;

  opacity: 0;

  -webkit-animation: fadein 2s ; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
  

 
  transform: translateX(0);
  transition: transform 1s;

  display:none;
      
}


.menu {
  text-align: right;
  width: 400px;
  
}

.menu h2 {
  line-height: 1.5em;
  padding-left: 0;
}

.menu img {
  opacity: 0;

  width: 20px;
  position: absolute;
  right: 20px;

   -webkit-animation: fadein 2s ; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;

       display:none;
}

.menu img:nth-of-type(1) {
  top: 0;
}

.menu img:nth-of-type(2) {
  top: 28px;
}

.inactive{
    transform: translateX(0);
    transition: transform 1s;
}

.active {
  /* text-align: left; */
  transform: translateX(-329px);
  transition: transform 1s;
  display:block;
  padding-left: 20px;
}

.active1 {
  /* text-align: left; */
  transform: translateX(-297px);
  transition: transform 1s;
  display:block;
  padding-left: 20px;
}

.hidden {
  opacity: 1;
  display:block;
  -webkit-animation: fadein 2s ; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
  
}




/* arrow to x animation */


/* paused parallax */

wrapper.paused {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background-color: black;
  z-index: 3;
}

.paused h2{
  align-self: center;
  padding-bottom: 100px;
  text-align: center; 
  max-width: 300px;
}


h3 {
  font-size: 1.5em;
  padding-top: 100px;
  text-align: center;
  padding-bottom: 20px;
}

/* link styles */

a, a:link {
  text-decoration: none;
  color: #fff;
  opacity: 1;
}

h1 a, h1 a:link, h1 a:visited {
  color: #fff;
}

h1 a:hover {
  color: #f2f2f2;
}


a:visited {
  text-decoration: none;
  color:#fff;
}

wrapper.mobile{
display:none;
}


/* TABLET */
@media screen and (max-width: 850px) {

#softcirque, .softcirque, #pointer-dot, #gradient, wrapper.paused, .menu, .copyright {
    display: none;
    z-index: -1;
  }
  
  .header {
    display: block;
    /* justify-content: space-between; */
    top: 15px;
    padding-bottom: 40px;
    /* position: fixed; */
    width: 100%;
  
    z-index: 3;
  }

  .contact {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
  }

  wrapper.mobile{
    width: 100%;
  /* min-height: 900px; */
  display: block;
  /* justify-content: center;
  flex-direction: column; */
  position: absolute;
  background-color: black;
  z-index: 3;
  }

  wrapper.mobile h2 {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  p {
    display:block;
    opacity: 1;
    padding-left: 20px;
    padding-right: 10px;
  }

}